.box-border{
    border: 1px solid blue;
    width: 50%;
    padding: 2px;
    position: relative;
    left: 25%;
}

.side-heading{
   color: black;
   font-weight: bold;
   position: absolute;
   left: 20%;

}

@media only screen and  (max-width:768px) {
    .box-border{
        border: 1px solid blue;
        width: 98%;
        padding: 2px;
        position: relative;
        left: 1%;
    }
    .side-heading{
        color: black;
        font-weight: bold;
        position: absolute;
        left: 10px;

        
     
     }
     .gap{
        margin-left: 32px;
     }

}