

  
  .elfsight-app-1ba6acd5-1ec9-4d40-a21e-7e7edcf6c242{
    margin-top: 22px;
    overflow: hidden !important;
    color: white;
    
  }
  
 

  @media only screen and (max-width: 768px) {
    .elfsight-app-1ba6acd5-1ec9-4d40-a21e-7e7edcf6c242{
      width: 350px;
      margin-left: 3px;
      
      
    }
    
  }
  