/* OurBlog.css */
.our-blog {
  text-align: center;
  padding: 2rem;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.prev,
.next {
  background-color: #f2f2f2;
  border: none;
  color: #333;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.prev:hover,
.next:hover {
  background-color: #333;
  color: #fff;
}

.carousel-slide {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.carousel-slide img {
  max-width: 300px;
  height: auto;
  margin-right: 2rem;
}

.slide-content {
  text-align: left;
}

.slide-content h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.slide-content p {
  margin-bottom: 1.5rem;
}

.read-more {
  display: inline-block;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.read-more:hover {
  background-color: #555;
}

@media (max-width: 768px) {
  .carousel-slide {
    flex-direction: column;
    align-items: center;
  }

  .carousel-slide img {
    margin-right: 0;
    margin-bottom: 1rem;
    max-width: 200px;
  }

  .slide-content {
    text-align: center;
  }

 

  
}
